@media only screen and (max-width: 1920px) and (min-width: 1681px) {
    .react-component-layout {
        flex-basis: 43% !important;
    }

    .vaadin-component-layout {
        flex-basis: 57% !important;
    }
}

@media only screen and (max-width: 1680px) and (min-width: 1601px) {
    .react-component-layout {
        flex-basis: 38% !important;
    }

    .vaadin-component-layout {
        flex-basis: 62% !important;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1533px) {
    .react-component-layout {
        flex-basis: 48% !important;
    }

    .vaadin-component-layout {
        flex-basis: 52% !important;
    }
}

@media only screen and (max-width: 1532px) and (min-width: 1486px) {
    .react-component-layout {
        flex-basis: 46% !important;
    }

    .vaadin-component-layout {
        flex-basis: 54% !important;
    }
}

@media only screen and (max-width: 1485px) and (min-width: 1464px) {
    .react-component-layout {
        flex-basis: 45% !important;
    }

    .vaadin-component-layout {
        flex-basis: 55% !important;
    }
}

@media only screen and (max-width: 1463px) and (min-width: 1440px) {
    .react-component-layout {
        flex-basis: 41% !important;
    }

    .vaadin-component-layout {
        flex-basis: 59% !important;
    }
}

@media only screen and (max-width: 1439px) {
    .react-component-layout {
        flex-basis: 100% !important;
    }

    .vaadin-component-layout {
        flex-basis: 100% !important;
    }
}


